<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1611990811697-204c28796f52?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  New Treehouse:
</div>
<br>
<div class="container">
<%= simple_form_for [@treehouse] do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :tree_type %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
</div>
