<h1>New Treehouse</h1>


<%= simple_form_for [@treehouse] do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :tree_type %>
    <%= f.input :price %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
