<div class="top-buttons">
<button class="button-33" role="button"><%= link_to "Home", treehouses_path %>
</button>

</div>

<div class="container">
<h1><%= @treehouse.name.capitalize %></h1>
<img src="https://images.unsplash.com/photo-1550934482-7904d33d1b54?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHJlZWhvdXNlfGVufDB8fDB8fHww" alt="">
<p><%= @treehouse.tree_type %></p>
<button class="button-33" role="button"><%= link_to "Book", new_treehouse_booking_path(@treehouse)%>
</button>
<p><%= @treehouse.rating %></p>
<p><%= @treehouse.price %></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo odio aenean sed adipiscing diam. Commodo elit at imperdiet dui accumsan sit amet nulla. Eros in cursus turpis massa tincidunt dui. Pretium lectus quam id leo in vitae. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Porttitor massa id neque aliquam vestibulum. Aliquam ut porttitor leo a diam sollicitudin tempor id eu. Vitae nunc sed velit dignissim sodales ut eu sem. Lobortis feugiat vivamus at augue. Porttitor massa id neque aliquam vestibulum. Donec enim diam vulputate ut pharetra sit. Ac tortor vitae purus faucibus ornare suspendisse sed.

Vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt. Enim ut tellus elementum sagittis. Risus feugiat in ante metus. Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. Interdum posuere lorem ipsum dolor sit amet. Est sit amet facilisis magna etiam tempor. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum. Vitae congue eu consequat ac. Et pharetra pharetra massa massa. Fermentum leo vel orci porta non pulvinar. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Lobortis elementum nibh tellus molestie nunc non blandit massa enim. Ultrices vitae auctor eu augue ut.

Amet consectetur adipiscing elit ut aliquam purus sit amet luctus. In ante metus dictum at tempor commodo ullamcorper a. Ac odio tempor orci dapibus ultrices in. Vulputate enim nulla aliquet porttitor lacus. Ac orci phasellus egestas tellus rutrum tellus. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Risus quis varius quam quisque id. Ultricies leo integer malesuada nunc vel. Sapien eget mi proin sed libero enim sed faucibus. Nulla facilisi cras fermentum odio eu feugiat. Eleifend mi in nulla posuere sollicitudin. Convallis tellus id interdum velit laoreet id donec ultrices tincidunt. Amet consectetur adipiscing elit duis. Mollis nunc sed id semper risus in hendrerit gravida. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum. Bibendum arcu vitae elementum curabitur vitae nunc sed. Risus quis varius quam quisque. Nec ultrices dui sapien eget mi proin sed libero. In mollis nunc sed id semper.</p>
</div>
