<div class="show-page" style="position: relative;">

  <div class="top-buttons mb-3">
  <button class="btn btn-success" role="button"><%= link_to "Back to Treehouses", treehouses_path, class: "text-decoration-none text-white" %>
  </button>
  </div>



    <div class="form-booking position-fixed top-10 end-0 me-5 btn-lg" data-controller="toggle">
      <button data-action="click->toggle#fire" class="btn btn-success text-decoration-none text-white" >Book now!</button>
      <div data-toggle-target="element" class="d-none">
        <%= render "shared/booking_form" %>
      </div>
    </div>

<div class="show-container">


  <h1 class="show-title"><%= @treehouse.name.capitalize %></h1>


  <div class="show-treehouse w-100">
    <img id="left" src="https://images.unsplash.com/photo-1573790285658-87d7586eec7d?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <div class="righthand">
      <div>
        <img id="topright" src="https://plus.unsplash.com/premium_photo-1664047696174-72d3d84e6d5e?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dHJlZWhvdXNlfGVufDB8fDB8fHww" alt="">
        <img id="bottomright" src="https://images.unsplash.com/photo-1615354310157-c78b1be66eed?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dHJlZWhvdXNlfGVufDB8fDB8fHww" alt="">
      </div>
    </div>
  </div>



  <div class="info-and-booking">

    <ul class="list-inline d-flex justify-content-center w-100">

        <li class="list-inline-item"><%= @treehouse.guests %> guests  .  </li>
        <li class="list-inline-item"><%= @treehouse.tree_type.capitalize %> tree  .  </li>
        <li class="list-inline-item">Location: <%= @treehouse.location %>  .  </li>
        <li class="list-inline-item">£ <%= @treehouse.price %> per night  .  </li>
        <li class="list-inline-item"><a href="#reviews"><%= @treehouse.reviews.count %> Reviews</a></li>
    </ul>

  </div>

  <h2>Description</h2>
  <p><%= @treehouse.description %></p>

<h2>Where you will be staying:</h2>
<p>You will be nested in the heart of <%= @treehouse.location %>:</p>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-marker-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>




<h2 class="mt-4">Reviews:</h2>
  <div class="review-container" id="reviews">
    <% @reviews.each do |review| %>
      <div class="review-card">
        <div class="review-number">
          <div>
          <p><%= review.created_at.strftime("Created on %m/%d/%Y") %></p>
          </div>
          <div>
            <h3><%= review.rating %></h3>
          </div>
        </div>
        <div class="review-text">
          <h3>''<%= review.title %>....</h3>
          <p><%= review.content %>''</p>
        </div>
      </div>
    <% end %>
  </div>

</div>

</div>
