<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1611990811697-204c28796f52?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  My Bookings:
</div>

<br>
<button class="button-33" role="button"><%= link_to "Home", treehouses_path %>
</button>

<div class="container">

  <% @bookings.each do |booking| %>
  <div class="booking-card">
  <p>Congratulations, your booking to <strong><%= booking.treehouse.name.capitalize %></strong> is secured!</p>
  <p>You will be staying:</p>
  <p>From: <%= booking.start_date%> Until: <%= booking.end_date%></p>
  <p> </p>
   <p><%= link_to "Delete",
    booking_path(booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %></p>
  <%= link_to "add Review", new_booking_review_path(booking) %>
  </div>
  <% end %>
</div>
