<h1>New booking</h1>

<h2><%= @treehouse.name %></h2>
<p>£<%= @treehouse.price %></p>

<%= simple_form_for [@treehouse, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Submit Booking", class: "btn btn-primary" %>
<% end %>
